<p style="color: green"><%= notice %></p>
<h1>
<%= @professor.name %>
<%= @professor.subject %>
<p>Rating:</p>
<%= @professor.rating %>
</h1>
<h3>Student stories:</h3>

<div id="student_stories">
  <% @student_stories.each do |student_story| %>
    <%= render student_story %>
  <br>
  <% end %>
</div>

<%= link_to "New student story", new_professor_student_story_path(@professor) %>
<%= link_to "Back to Professors", professors_path %>
