<p style="color: green"><%= notice %></p>

<%= render @student_story %>

<div>
  <%= link_to "Edit this student story", edit_student_story_path(@student_story) %> |
  <%= link_to "Back to student stories", student_stories_path %>

  <%= button_to "Destroy this student story", @student_story, method: :delete %>
</div>
