<div id="<%= dom_id professor %>">
  <p>
    <strong>Name:</strong>
    <%= professor.name %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= professor.subject %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= professor.rating %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= professor.difficulty %>
  </p>

</div>
