<p style="color: green"><%= notice %></p>

<%= render @professor %>
<% @professor.student_stories.each do |story| %>
<p>
<%= story %>
</p>
<% end %>

<div>
  <%= link_to "Edit this professor", edit_professor_path(@professor) %> |
  <%= link_to "Back to professors", professors_path %>

</div>
